<div class="nav-wrapper">
    <div class="left-side">
        <div class="nav-link-wrapper">
            <a href="{% url "index" %}">Home</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="{% url 'list-recipes' %}">Recipes</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="{% url 'about' %}">About</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="{% url 'contacts' %}">Contacts</a>
        </div>
    </div>

    <div class="right-side">
        {% if user.is_authenticated %}
            <div class="nav-link-wrapper">
{#                <a href="{% url 'profile-details' %}">{{ request.user }}</a>#}
            </div>
            <div class="nav-link-wrapper">
                <a href="{% url 'sign-out' %}">Sign out</a>
            </div>
        {% else %}
            <div class="nav-link-wrapper">
                <a href="{% url 'sign-in' %}">Sign in</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="{% url 'sign-up' %}">Sign up</a>
            </div>
        {% endif %}
    </div>


</div>
