<div class="new_body">
    <div class="new_navbar">
        <ul class="new_nav_list">
            <li class="new_nav_item">
                <a href="">LOGO</a>
            </li>
            <li class="new_nav_item">
                <a href="">Home</a>
            </li>
            <li class="new_nav_item">
                <a href="">About</a>
            </li>
            <li class="new_nav_item">
                <a href="">Contacts</a>
            </li>
            <li class="new_nav_item">
                <a href="">SEARCH BAR</a>
            </li>
        </ul>
    </div>
</div>
