<div class="content-description-wrapper">
    <div class="content-description-text">
        Find the meal you want and learn how to cook it.
    </div>
</div>

<div class="content-wrapper">
    <div class="content-table-wrapper">
        <div class="content-table-item-wrapper">
            <div class="content-img-background"
                 style="background-image:url(../static/images/1_chicken_with_potatoes.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Chicken with potatoes and cherry tomatoes.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/2_pasta.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Pasta with shrimps.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/3_fish.jpg)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Bream fish with tomato sauce.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/4_cake.jpg)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Tiramisu with wild berries.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/5_brownie.jpg)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Brownie with walnuts.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/6_panettone_cake.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Panettone with almonds.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/7_smoothie.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Wild berries smoothie with banana.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/8_another_pasta.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Farfalle carbonara.</div>
            </div>
        </div>

        <div class="content-table-item-wrapper">
            <div class="content-img-background" style="background-image:url(/static/images/9_humus.JPG)"></div>

            <div class="img-text-wrapper">
                <div class="subtitle">Home made hummus.</div>
            </div>
        </div>

    </div>
</div>

